name: Reusable Workflow
on:
  workflow_call:
    inputs:
      name:
        description: Enter the name
        required: true
        type: string

jobs:
  greetings:
    runs-on: ubuntu-latest
    steps:
      - name: Greetings Step
        run: echo "Hi ${{ inputs.name }}. Welcome to Reusable Workflow"
